{% extends "common/base.html" %}
{% block body %}
    <div class="container my-5">

        <div class="row justify-content-md-center text-center">
            <h1 class=" display-4"> <a class="header" href="{% url  'todo' %}">TODO-LIST</a></h1>
            <div class="col-md-12">
                <form method="GET" action="{% url 'search_task' %}">
                    <div class="input-group mb-3">
                        {% csrf_token %}
                        <input type="text" class="form-control" name="search-term" placeholder="Search tasks" aria-label="Recipient's username" aria-describedby="button-addon2">
                        <button class="btn btn-primary" type="submit" id="button-addon2"><i class="fas fa-search"></i> Search</button>
                    </div>
                </form>
            </div>
        </div>


        {% for todo in todos %}
            <div class="row  shadow  rounded  pt-3 mx-1 py-3 my-3 shadow-lg">
                <div class="col-md-8 mx-auto ">
                    <p class="fs-4 fw-bold "> {{ todo.task_name }}</p>
                    <small class="d-block"> Created: {{ todo.created_at }}</small>
                    {% if todo.created_at < todo.updated_at %}
                        <small>Edited: {{ todo.created_at }}</small>
                    {% endif %}
                </div>

                <div class="col-md-4 text-start col-12 text-md-end">
                    <a href="{% url 'update_task' todo.id %}" class="btn btn-outline-primary btn-inline"><i class="fa-regular fa-pen-to-square todo-update-btn" ></i></a>

                    <form class="d-inline" action="{% url 'delete_task' todo.id %}" method="POST">
                        {% csrf_token %}
                        <button class="btn btn-outline-danger d-inline " type="submit"><i class="fa-regular fa-rectangle-xmark todo-update-btn"></i></button>
                    </form>

                </div>
            </div>
        {% empty %}
            {% if todos %}
            {% else %}
                <p class="fs-5 fw-bold">No items found with your search term, or there is no todo added yet</p>
            {% endif %}
        {% endfor %}


        <div class="row  my-3">
            <div class="col-12">
                <a href="{% url 'addTask' %}" class="btn btn-success"><i class="fa-sharp fa-solid fa-plus"></i>  Add a new task</a>
            </div>
        </div>
    </div>
{% endblock %}