{% extends "common/base.html" %}
{% block body %}
    <div class=" container my-4">
        <div class="row justify-content-md-center ">
            <div class="col-8 mx-auto">
                <div class="card ">
                    <div class="card-header text-start">
                       Update Task
                    </div>
                    <div class="card-body ">
                        <form action="" method="post">
                                {% csrf_token %}
                                {{form.as_p}}
                            <button class="btn btn-primary" type="submit"><i class="fa-regular fa-pen-to-square"></i> Update</button>
                        </form>
                    </div>
                </div>
                <a href="{% url 'todo' %}" class="btn btn-warning fw-bold my-3"><i class="fa-solid fa-arrow-left"></i></i> Go back</a>
            </div>
        </div>
    </div>


{% endblock %}